#!/usr/bin/perl

use Net::SMTP;


#====================================================================
# 
# config
# 
#====================================================================

### ex) @to = ('aaaaa@nexon.co.jp','bbbbb@nexon.co.jp');
@to = ('{{ address }}');
@cc = ('');


### 0:disable
### 1:enable
$detect_root = 1;



#====================================================================
# 
# check root privileges
# 
#====================================================================

$root = is_root();

if( ($root == 1) && ($detect_root == 0) )
{
    exit;
}



#====================================================================
# 
# send mail
# 
#====================================================================

chomp($hostname = `hostname`);
chomp($msg = `last |grep "still logged in"`);

$from = "$hostname".'@local' ;

if( $root == 0 )
{
    $subject = '[sshckr] detected SSH Login('."$hostname".')';
}
else
{
    $subject = '[sshckr] detected root priv('."$hostname".')';
}

$msg = "Now LoginUsers \n\n"."$msg";


# Connect SMTP Server
$smtp = Net::SMTP->new('59.128.93.227', Hello=>"59.128.93.227", Timeout=>10);
$smtp->mail($from);
$smtp->to(@to);
$smtp->cc(@cc);
$date = &date;

# Header
$smtp->data();
$smtp->datasend("Date:$date\n");
$smtp->datasend("From:$from\n");
$smtp->datasend("To:@to\n");
$smtp->datasend("Cc:@cc\n");
$smtp->datasend("Subject:$subject\n");
$smtp->datasend("Content-Transfer-Encoding: 7bit\n");
$smtp->datasend("Content-Type: text/plain;charset=\"ISO-2022-JP\"\n\n");

# Message
$smtp->datasend("$msg\n");
$smtp->dataend();
$smtp->quit;



#====================================================================
# 
# subroutine
# 
#====================================================================

sub date
{
	$ENV{'TZ'} = "JST-9";
	($sec,$min,$hour,$mday,$mon,$year,$wday) = localtime(time);
	@week = ('Sun','Mon','Tue','Wed','Thu','Fri','Sat');
	@month = ('Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec');
	$d = sprintf("%s, %d %s %04d %02d:%02d:%02d +0900 (JST)",
	$week[$wday],$mday,$month[$mon],$year+1900,$hour,$min,$sec);
	
	return $d;
}


sub is_root
{
    if( $ENV{'LOGNAME'} eq "root" )
    {
		return 1;
    }
	
    return 0;
}
