#!/usr/bin/python
# -*- coding:utf-8 -*-

from socket import gethostname
import subprocess
import smtplib
import os
from email.mime.text import MIMEText

# config
smtp_host = '{{ mail.smtp_host }}'
to_addrs = ['{{ mail.cc_address }}']
cc_addrs = ['{{ mail.to_address }}']
from_addr = '{{ mail.from_address }}'


def is_root():
    env = os.environ
    if env['LOGNAME'] == 'root':
        return 1
    return 0
    
    
hostname = gethostname()

p = subprocess.Popen(
	"last |grep 'still logged in'", 
	shell=True, 
	stdout=subprocess.PIPE, 
	stderr=subprocess.PIPE
)
stdout_data, stderr_data = p.communicate()

if stdout_data != "":
	body = "Now LoginUsers \n\n" + stdout_data
	if is_root():
	    subject = "[sshckr] detected switch to '{0}'({1})".format('root', hostname)
	else:
	    subject = "[sshckr] detected SSH Login({0})".format(hostname)
	mail = MIMEText(body)
	mail['To'] = ",".join(to_addrs)
	mail['Cc'] = ",".join(cc_addrs)
	mail['From'] = from_addr
	mail['Subject'] = subject

	server = smtplib.SMTP(smtp_host, 587)
	try:
		server.ehlo()
		server.sendmail(from_addr, [to_addrs, cc_addrs], mail.as_string())
	finally:
		server.quit()
