[client]
port            = 3306
socket          = /dblab/var/mysql.sock
#default-character-set=sjis


# The MySQL server
[mysqld]
user            = {{ mysql.conf.user }}
port            = 3306
socket          = /dblab/var/mysql.sock
basedir         = {{ mysql.conf.basedir }}
datadir         = {{ mysql.conf.datadir }}
plugin_dir      = /mysql/lib/plugin
log_error       = {{ mysql.conf.log_error }}
pid_file        = {{ mysql.conf.pid_filer }}

#federated
character-set-server=sjis
skip-log-warnings
slow_query_log_file  = /dblab/var/slow.log
skip-name-resolve
character_set_filesystem=sjis
#passworld
old-passwords=0

secure_file_priv=''

long_query_time=1
max_binlog_size=10000000
max_connections=1000
max_connect_errors=999999999
key_buffer_size=800M
max_allowed_packet=32M
table_cache=256
sort_buffer_size=8M
thread_cache_size=8
#thread_concurrency=24
myisam_sort_buffer_size=64M
wait_timeout=65
join_buffer_size=200M
slave-skip-errors=1062
read_rnd_buffer_size = 16M

###innodb
innodb_data_home_dir = /dblab/idbdata/
innodb_fast_shutdown = 1
#innodb_data_file_path = ibdata1:10G;ibdata2:10G;ibdata3:10G;ibdata4:10G;ibdata5:10G;ibdata6:10G;ibdata7:10G;ibdata8:10G;ibdata9:10G;ibdata10:10G:autoextend
innodb_data_file_path = ibdata1:10G;ibdata2:10G;ibdata3:10G;ibdata4:10G;ibdata5:10G;ibdata6:10G;ibdata7:10G;ibdata8:10G;ibdata9:10G;ibdata10:46238007296;ibdata11:10G;ibdata12:10G;ibdata13:10G;ibdata14:10G;ibdata15:10G;ibdata16:10G;ibdata17:10G;ibdata18:10G;ibdata19:10G;ibdata20:10G:autoextend
innodb_log_group_home_dir = /dblab/var/
# You can set .._buffer_pool_size up to 50 - 80 %
# of RAM but beware of setting memory usage too high
innodb_buffer_pool_size = 16G
innodb_additional_mem_pool_size = 2M
# Set .._log_file_size to 25 % of buffer pool size
innodb_log_file_size = 1G
innodb_log_buffer_size = 32M
innodb_flush_method = O_DIRECT
innodb_stats_on_metadata=OFF
innodb_log_files_in_group = 2
innodb_flush_log_at_trx_commit = 0
innodb_lock_wait_timeout = 10
innodb_thread_concurrency = 24
innodb_commit_concurrency = 24
innodb_mirrored_log_groups = 1
innodb_read_io_threads=12
innodb_write_io_threads=12
innodb_stats_on_metadata=OFF

query_cache_size=0
query_cache_type=0

#charact_set
#init_connect=SET collation_connection = sjis_general_ci
#init_connect=SET NAMES sjis
#default-character-set=sjis
#collation-server=sjis_general_ci

#log-bin
#binlog-ignore-db=mysql
#binlog-ignore-db=test

expire_logs_days        = 5
binlog_cache_size       = 2M
max_binlog_size         = 10M

#log-slave-updates

server-id=29


[mysqldump]
quick
#max_allowed_packet = 16M

[mysql]
prompt=\u:\d\_\R:\m:\\s>\_
no-auto-rehash
